#paragraph
  %section
    %h2.title Paragraph 句子
    :markdown
      **甲吐出**那飽吸過的*香煙*，愈會碰著痛苦。[甲吐出](#)那飽吸過的香煙，遂亦不受到阻礙，來和他們一拚！
    %p= lorem.sentences 5
    %p= lorem.sentences 3
#lists
  %section
    .title
      %h2 Lists 列表
    %section.type
      %h3
        Unordered
        %small
          無序列表 1
      .list
        %ul
          - 5.times do
            %li= lorem.word
          %li
            = lorem.word
            %ul
              - 4.times do
                %li= lorem.word
          - 3.times do
            %li= lorem.word
    %section.type
      %h3
        Unstyled
        %small
          無序列表 2
      .list
        %ul.unstyle
          - 5.times do
            %li= lorem.word
          %li
            = lorem.word
            %ul
              - 4.times do
                %li= lorem.word
          - 3.times do
            %li= lorem.word
    %section.type
      %h3
        Ordered
        %small
          有序列表
      .list
        %ol
          - 5.times do
            %li= lorem.word
          %li
            = lorem.word
            %ol
              - 4.times do
                %li= lorem.word
          - 3.times do
            %li= lorem.word
    %section.type
      %h3
        Description
        %small
          說明列表
      .list
        %dl
          - 3.times do
            %dt= lorem.word
            %dd= lorem.sentence
#quote
  %section
    %h2.title Quote 引言
    %blockquote
      %p= lorem.sentence
      %cite= lorem.name
#code
  %section
    %h2.title Code 程式碼
    #section
      %pre.prettyprint= partial "code"