- content_for :head do
  %title Golden Grid System Compass Framework
- content_for :header do
  = partial "header"

= partial "heading"

= partial "paragraph"

= partial "form"

= partial "lists"

= partial "quote"

= partial "code"